# Files
.ninja_deps             #Ninja Build gen deps
.ninja_logs             #Ninja Build logs
/cmake_install.cmake    #CMake Install
/compile_commands.json  #Cxxdroid's commands

# Directories
/.idea/                 #Clion
/cmake-build-debug/     #CMake debug build
/CMakeFiles/            #CMake gen folder